@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lobster&family=Passion+One&family=Sancreek&family=Tilt+Prism&family=Vidaloka&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #393939;
}
:root{
    --headerFontFamily:'Lobster', cursive;
    --headerHeight: 70px;
    --mainBodyTextFont: 'Gloock', serif;
    --mainBodyDescText: 'Sancreek', cursive;
    --mainBodySupportText: 'Tilt Prism', cursive;
    --mainSubHeadingText: 'Passion One', cursive;
}
